<html>
<style>
    body {
        background-color: #c8d8e4;
        font-family: Andale Mono, monospace;
        font-size: 60px;
        color: #ffffff;
        font-variant: small-caps;
    }
    .score {
        background-color: #2b6777;
        text-align: center;
        padding: 10px;
    }
</style>
<body>
  <div class = "score">
      <img src="https://i.postimg.cc/j2SCw9bd/Dance-Rec-7-removebg-preview.png" height="30%">
      <p>Here is your average score: {{ variable }} / 10</p>
  </div>
</body>
</html>